body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  background: #353c3f;
}

.Main {
  min-height: 100vh;
  padding-bottom: 2rem;
  overflow: auto;
}

#logo-size {
  width: 200px;
}

a:hover {
  text-decoration: none;
}

/* PagesNav attributes */
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.mr-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: unset !important;
}

.Home svg:not(:root).svg-inline--fa {
  overflow: visible;
  display: flex;
  justify-content: center;
}

.svg-inline--fa {
  height: unset;
  vertical-align: -0.2em;
  margin-right: 5px;
}

/* Home Page Attributes */
.Home .container {
  padding-right: 50px;
  padding-left: 50px;
}

.Home .header {
  text-align: center;
  font-size: 34px;
  color: #f8f9fa;
  padding: 2rem;
}

.Home .mainText {
  text-align: center;
  font-size: 22px;
  color: #f8f9fa;
  padding-bottom: 1.25rem;
}

/* Home form attributes */
.form-inline {
  padding-bottom: 1.25rem;
  justify-content: center;
  outline: none;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem #28a745;
}

.form-inline .form-control {
  width: 250px;
}

.form-control {
  border: 1px solid #28a745;
}

.Cities-List {
  position: absolute;
  margin-top: 20px;
  z-index: 3;
  border: 1px solid #28a745;
}

.Loading {
  color: #28a745;
  margin-top: 20px;
  text-align: center;
}

/* Home weather box attributes */
.Home .card-title {
  margin-bottom: unset;
}

.Home .card-header {
  text-align: right;
  background-color: unset;
}

.Home .card-text {
  color: #28a745;
}

.Home .card-body {
  display: flex;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.Home .weatherHeader {
  padding: 0.5rem;
  color: #28a745;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

.icon-weather {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 5px;
}

#Favorites-icon {
  color: red;
  margin-left: auto;
  margin-right: 10px;
  font-size: 1.3rem;
}

#Card-height {
  height: 80vh;
}

.Home svg:not(:root).svg-inline--fa {
  overflow: visible;
  display: unset;
  justify-content: center;
}

/* Home weather attributes */
.Temperature {
  font-size: 18px;
  text-align: center;
  display: block;
}

.WeatherText {
  font-size: 20px;
  text-align: center;
  display: block;
}

/* Home days */
.daysCards {
  display: flex;
  flex-wrap: wrap;
}

.daysCards .card {
  border-radius: 0.75rem;
  flex: 0 0 95%;
  border: 1px solid #28a745;
}

.daysCards .card-header {
  color: #28a745;
  text-align: center;
}

.daysCards .card-body {
  color: #28a745;
}

.daysCards .text-temp {
  font-size: 14px;
  display: flex;
}

.daysCards .text-icon {
  font-size: 12px;
  text-align: center;
  color: #28a745;
}

#daysCards-card-size {
  width: 10rem;
}

/* Pages Footer attributes */
.footer {
  position: relative;
  bottom: 0;
  text-align: left;
  padding-top: 15px;
  height: 55px;
  font-size: 1rem;
  width: 100%;
  background: #f8f9fa;
  color: #353c3f;
}

.Footer-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: 1px solid #f8f9fa;
}

.Footer-Padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Favorites page */
.Favorites .container {
  padding-right: 50px;
  padding-left: 50px;
}

.Favorites .header {
  text-align: center;
  font-size: 34px;
  color: #f8f9fa;
  padding: 2rem;
}

/* Favorites weather box attributes */
.Favorites .weatherBox {
  width: 100%;
  height: 500px;
  background: #f8f9fa;
  padding: 1.25rem;
  margin-top: 25px;
}

.Favorites .weatherHeader {
  padding: 1.25rem;
  color: #28a745;
  font-weight: 600;
  font-size: 28px;
}

/* Favorites cards attributes */
.Favorites .card-att {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
}

.Favorites .card {
  border-radius: 0.75rem;
  background-color: unset;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #28a745;
}

.Favorites .card-header {
  text-align: center;
  background-color: unset;
  color: #28a745;
  font-size: 18px;
  border-bottom: 1px solid #28a745;
}

.Favorites .card-body {
  color: #28a745;
}

/* Alert attributes */
.alert {
  width: auto;
  text-align: center;
  margin-left: auto;
}

/* Mobile attributes */
@media only screen and (max-width: 768px) {
  .Home .header {
    font-size: 28px;
    padding: 1.25rem 0 1.25rem 0;
  }

  .form-inline .form-control {
    width: 175px;
    margin-right: 5px;
    display: unset;
  }

  .container {
    padding: 1.75rem;
  }

  #Card-height {
    height: 285px;
    border-radius: 0.75rem;
  }

  .Home .card-body {
    display: block;
    padding: 1rem 0 1rem 0;
    margin-right: unset;
    margin-left: unset;
  }

  .daysCards .text-temp {
    font-size: 14px;
    display: block;
    text-align: center;
  }

  .daysCards {
    display: unset;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #daysCards-card-size {
    width: auto;
    margin-top: 15px;
  }

  .svg-inline--fa {
    height: none;
  }

  .btn {
    vertical-align: unset;
  }

  /* Favorites card */
  .Favorites .card {
    margin-right: unset;
    margin-bottom: 15px;
    border: 1px solid #28a745;
  }

  /* Nav mobile attributes */
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: unset;
  }
}